<!DOCTYPE html>
<html style="font-size: 16px;" xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <meta name="page_type" content="np-template-header-footer-from-plugin">
    <title>Sign in</title>
    <link rel="stylesheet" th:href="@{/css/main.css}" media="screen"/>
    <link rel="stylesheet" th:href="@{/css/login.css}" media="screen"/>
    <link id="u-theme-google-font" rel="stylesheet"
          href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i|Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i">
    <meta property="og:title" content="Sign in">
    <meta property="og:type" content="website">
    <meta name="theme-color" content="#478ac9">
    <link rel="canonical" href="index.html">
    <meta property="og:url" content="index.html">
</head>

<body class="u-body">
<header class="u-clearfix u-header u-header" id="sec-b81d">
    <div class="load-html" data-source="/navbar"></div>
</header>

<section class="u-clearfix u-grey-10 u-section-1" id="sec-29d3">
    <div class="u-clearfix u-sheet u-sheet-1">
        <div class="u-clearfix u-expanded-width u-gutter-18 u-layout-wrap u-layout-wrap-1">
            <div class="u-gutter-0 u-layout">
                <div class="u-layout-row">
                    <div class="u-size-60">
                        <div class="u-layout-col">
                            <div class="u-size-40">
                                <div class="u-layout-row">
                                    <div class="u-container-style u-image u-layout-cell u-right-cell u-size-30 u-image-1"
                                         data-image-width="1620" data-image-height="1080">
                                        <div class="u-container-layout u-container-layout-1"></div>
                                    </div>
                                    <div class="u-align-left u-container-style u-layout-cell u-size-30 u-white u-layout-cell-2">
                                        <div class="u-container-layout u-container-layout-2">
                                            <h2 class="u-align-center u-text u-text-1">Sign in<br>
                                            </h2>
                                            <div class="u-expanded-width u-form u-form-1">
                                                <form action="/login" method="POST"
                                                      class="u-clearfix u-form-custom-backend u-form-horizontal u-form-spacing-15 u-inner-form"
                                                      style="padding: 15px" source="custom" redirect="true">
                                                    <input type="hidden" id="siteId" name="siteId" value="410554">
                                                    <input type="hidden" id="pageId" name="pageId" value="415624">
                                                    <div class="u-form-email u-form-group">
                                                        <label for="email-558c" class="u-form-control-hidden u-label">Email</label>
                                                        <input type="email" placeholder="Email" id="email-558c"
                                                               name="username"
                                                               class="u-border-1 u-border-grey-30 u-input u-input-rectangle"
                                                               required="">
                                                    </div>
                                                    <div class="u-form-group u-form-name">
                                                        <label for="name-558c" class="u-form-control-hidden u-label">Password</label>
                                                        <input type="password" placeholder="Password" id="name-558c"
                                                               name="password"
                                                               class="u-border-1 u-border-grey-30 u-input u-input-rectangle"
                                                               required="">
                                                    </div>
                                                    <div class="u-form-group u-form-submit">
                                                        <a href="#" class="u-btn u-btn-submit u-button-style">Submit</a>
                                                        <input type="submit" value="submit"
                                                               class="u-form-control-hidden">
                                                        <input type="hidden" th:name="${_csrf.parameterName}"
                                                               th:value="${_csrf.token}"/>
                                                    </div>
                                                    <div class="u-form-send-message u-form-send-success">Successfully
                                                        logged in, redirecting to home page
                                                    </div>
                                                    <div class="u-form-send-error u-form-send-message">Something went
                                                        wrong
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="u-size-20">
                                <div class="u-layout-row">
                                    <div class="u-align-left u-container-style u-layout-cell u-right-cell u-size-60 u-white u-layout-cell-3"
                                         src="">
                                        <div class="u-container-layout u-valign-middle u-container-layout-3" src="">
                                            <p class="u-text u-text-2">Spreading knowledge is pleasant and useful!</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<div class="load-html" data-source="/footer"></div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script class="u-script" type="text/javascript" src="../static/js/main.js" defer=""></script>
<script type="text/javascript">
    $(function () {
        $(".load-html").each(function () {
            $(this).load(this.dataset.source);
        });
    });
</script>

</body>
</html>