<div class="u-clearfix u-sheet u-sheet-1">
    <a class="u-image u-logo u-image-1" data-image-height="160" data-image-width="640" href="/">
        <img class="u-logo-image u-logo-image-1" data-image-width="216" src="../static/images/logo.png">
    </a>
    <nav class="u-menu u-menu-dropdown u-offcanvas u-menu-1">
        <div class="menu-collapse" style="font-size: 1rem; letter-spacing: 0;">
            <a class="u-button-style u-custom-left-right-menu-spacing u-custom-padding-bottom u-custom-top-bottom-menu-spacing u-nav-link u-text-active-palette-1-base u-text-hover-palette-2-base"
               href="#">
                <svg>
                    <use xlink:href="#menu-hamburger"></use>
                </svg>
                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                    <defs>
                        <symbol id="menu-hamburger" style="width: 16px; height: 16px;" viewBox="0 0 16 16">
                            <rect height="2" width="16" y="1"></rect>
                            <rect height="2" width="16" y="7"></rect>
                            <rect height="2" width="16" y="13"></rect>
                        </symbol>
                    </defs>
                </svg>
            </a>
        </div>
        <div class="u-custom-menu u-nav-container">
            <ul class="u-nav u-unstyled u-nav-1">
                <li class="u-nav-item"><a
                        class="u-button-style u-nav-link u-text-active-palette-1-base u-text-hover-palette-2-base"
                        href="/" style="padding: 10px 20px;">Home</a>
                </li>
                <li class="u-nav-item"><a
                        class="u-button-style u-nav-link u-text-active-palette-1-base u-text-hover-palette-2-base"
                        href="/post" style="padding: 10px 20px;">Post</a>
                </li>
                <li class="u-nav-item" sec:authorize="hasRole('USER')"><a
                        class="u-button-style u-nav-link u-text-active-palette-1-base u-text-hover-palette-2-base"
                        href="/profile" style="padding: 10px 20px;">Profile</a>
                </li>
                <li class="u-nav-item" sec:authorize="hasRole('ANONYMOUS')"><a
                        class="u-button-style u-nav-link u-text-active-palette-1-base u-text-hover-palette-2-base"
                        href="/registration" style="padding: 10px 20px;">Sign up</a>
                </li>
                <li class="u-nav-item" sec:authorize="hasRole('ANONYMOUS')"><a
                        class="u-button-style u-nav-link u-text-active-palette-1-base u-text-hover-palette-2-base"
                        href="/login" style="padding: 10px 20px;">Sign in</a>
                </li>
                <li class="u-nav-item" sec:authorize="hasRole('USER')"><a
                        class="u-button-style u-nav-link u-text-active-palette-1-base u-text-hover-palette-2-base"
                        href="#" onclick="document.getElementById('form-logout').submit();" style="padding: 10px 20px;">Sign
                    out</a>
                    <form action="/logout" id="form-logout" method="post">
                        <input th:name="${_csrf.parameterName}" th:value="${_csrf.token}" type="hidden"/>
                    </form>
                </li>
                <li class="u-nav-item"><a
                        class="u-button-style u-nav-link u-text-active-palette-1-base u-text-hover-palette-2-base"
                        href="/about" style="padding: 10px 20px;">About</a>
                </li>
            </ul>
        </div>
        <div class="u-custom-menu u-nav-container-collapse">
            <div class="u-black u-container-style u-inner-container-layout u-opacity u-opacity-95 u-sidenav">
                <div class="u-sidenav-overflow">
                    <div class="u-menu-close"></div>
                    <ul class="u-align-center u-nav u-popupmenu-items u-unstyled u-nav-2">
                        <li class="u-nav-item"><a class="u-button-style u-nav-link" href="/"
                                                  style="padding: 10px 20px;">Home</a>
                        </li>
                        <li class="u-nav-item"><a class="u-button-style u-nav-link" href="/post"
                                                  style="padding: 10px 20px;">Post</a>
                        </li>
                        <li class="u-nav-item"><a class="u-button-style u-nav-link" href="/profile"
                                                  sec:authorize="hasRole('USER')"
                                                  style="padding: 10px 20px;">Profile</a>
                        </li>
                        <li class="u-nav-item"><a class="u-button-style u-nav-link" href="/registration"
                                                  sec:authorize="hasRole('ANONYMOUS')"
                                                  style="padding: 10px 20px;">Sign up</a>
                        </li>
                        <li class="u-nav-item"><a class="u-button-style u-nav-link" href="/login"
                                                  sec:authorize="hasRole('ANONYMOUS')"
                                                  style="padding: 10px 20px;">Sign in</a>
                        </li>
                        <li class="u-nav-item" sec:authorize="hasRole('USER')"><a
                                class="u-button-style u-nav-link"
                                href="#" onclick="document.getElementById('form-logout-mobile').submit();"
                                style="padding: 10px 20px;">Sign
                            out</a>
                            <form action="/logout" id="form-logout-mobile" method="post">
                                <input th:name="${_csrf.parameterName}" th:value="${_csrf.token}" type="hidden"/>
                            </form>
                        </li>
                        <li class="u-nav-item"><a class="u-button-style u-nav-link" href="/about"
                                                  style="padding: 10px 20px;">About</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="u-black u-menu-overlay u-opacity u-opacity-70"></div>
        </div>
    </nav>
</div>
