<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>New post</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{/css/main.css}"/>
    <link rel="stylesheet" th:href="@{/css/post.css}"/>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
</head>

<body>

<div class="load-html" data-source="/navbar"></div>

<form method="post" enctype="multipart/form-data"
      action="/uploads">
    <div class="ui segment" style="width: 500px; padding: 40px; margin-top: 200px">
        <input type="file" name="file"><br />
        <input type="submit" value="Upload">
        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
    </div>
</form>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script type="text/javascript">
    $(function () {
        $(".load-html").each(function () {
            $(this).load(this.dataset.source);
        });
    });
</script>

</body>
</html>