<!DOCTYPE html>
<html lang="en" style="font-size: 16px;" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta charset="utf-8">
    <title>Post</title>
    <link media="screen" rel="stylesheet" th:href="@{/css/main.css}"/>
    <link media="screen" rel="stylesheet" th:href="@{/css/post.css}"/>
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i|Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i" id="u-theme-google-font"
          rel="stylesheet">
    <link crossorigin="anonymous" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" rel="stylesheet">
    <meta content="Post" property="og:title">
    <meta content="website" property="og:type">
    <meta content="#478ac9" name="theme-color">
</head>

<body class="u-body">
<header class="u-clearfix u-header u-header" id="sec-b81d">
    <div class="load-html" data-source="/navbar"></div>
</header>

<section class="u-clearfix u-section-1" id="sec-b171">
    <div class="u-clearfix u-sheet u-valign-top u-sheet-1">
        <div class="u-form u-form-1">
            <form action="/uploads" enctype="multipart/form-data" method="POST">
                <div class="form-group">
                    <label for="inputAddress">Name</label>
                    <input class="form-control" id="inputAddress" name="name" type="text">
                </div>
                <div class="form-group">
                    <label for="selectUniversity">University</label>
                    <select class="form-control" id="selectUniversity" name="university">
                        <option>ETU</option>
                        <option>ITMO</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="descriptionArea">Description</label>
                    <textarea class="form-control" id="descriptionArea" name="description" rows="3"></textarea>
                </div>
                <div class="form-group">
                    <input class="form-control-file" id="fileUpload" name="file" type="file">
                </div>
                <button class="btn btn-primary" type="submit">Post</button>
                <input th:name="${_csrf.parameterName}" th:value="${_csrf.token}"
                       type="hidden"/>
            </form>
        </div>
    </div>
</section>

<div class="load-html" data-source="/footer"></div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script class="u-script" defer="" src="../static/js/main.js" type="text/javascript"></script>
<script type="text/javascript">
    $(function () {
        $(".load-html").each(function () {
            $(this).load(this.dataset.source);
        });
    });
</script>

</body>
</html>